.swiper.swiper-initialized.swiper-horizontal.product-images-slider.swiper-backface-hidden {
    width: 570px;
}

.swiper.swiper-initialized.swiper-horizontal.product-images-slider.swiper-backface-hidden {
    order: 1;
    margin-left: 15px;
}

.productslider {
    display: flex;
    align-items: center;
}

.product-images-slider-thumbs-wrapper img {
    width: 98px;
    height: 128px;
    margin-bottom: 20px;
}

.product-images-slider .swiper-button-prev {
    left: 30;
    color: rgb(255, 255, 255);
}

.product-images-slider .swiper-button-next {
    right: 30;
    color: rgb(255, 255, 255);
}

.product-images-slider-thumbs .swiper-slide {
    cursor: pointer;
}

.swiper.swiper-initialized.swiper-horizontal.product-images-slider-thumbs.swiper-backface-hidden.swiper-thumbs {
    display: block !important;
    overflow: auto;
    height: 520px;
}

.swiper.swiper-initialized.swiper-horizontal.product-images-slider-thumbs.swiper-backface-hidden.swiper-thumbs .swiper-wrapper {
    display: block;
    width: 100px;
}

.product-images-slider-thumbs .swiper-slide {
    cursor: pointer;
    border: 1px solid #1190CB;
    width: 100% !important;
    height: 130px;
}

.product-images-slider-thumbs .swiper-slide-thumb-active {
    border-color: #1190CB;
    width: 100% !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    height: 20px;
    width: 30px;
    right: 85px;
}

.product-images-slider .swiper-button-prev {
    height: 20px;
    width: 30px;
}