table.protable {
    width: 100%;
    margin-top: 20px;
}

.proddetail {
    align-items: center;
    display: flex;
}

.proinner {
    margin-left: 12px;
}

.dashdetail {
    background: #FFFFFF;
    margin-left: 18px;
    border-radius: 10px;
    padding: 15px 30px;
}

.dashdetail h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #101821;
}

table.protable th {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    /* identical to box height, or 323% */
    letter-spacing: -0.02em;
    padding: 10px;
    color: #0A121C;
}

table.protable thead tr {
    border-bottom: 1px solid #00000024;
}

table.protable tbody td {
    padding: 19px 10px;
}

.proinner h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 323% */
    letter-spacing: -0.02em;
    color: #0A121C;
}



.proinner span svg {
    margin-right: 5px;
}

.proinner p {
    margin-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    /* identical to box height, or 350% */
    letter-spacing: -0.02em;
    color: #0A121C;
}

span.pricedol {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    /* identical to box height, or 280% */
    letter-spacing: -0.06em;
    color: #101821;
}

span.pricedate {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    /* identical to box height, or 323% */
    letter-spacing: -0.06em;
    color: #8392A5;
}

.stockstatus h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    /* identical to box height, or 323% */
    letter-spacing: -0.02em;
    color: #0A121C;
}

.stockstatus p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    /* identical to box height, or 420% */
    color: #8392A5;
}

.stockstatus h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 2px;
    letter-spacing: -0.02em;
    color: #1190CB;
}

.stockstatus h6 svg {
    margin-right: 4px;
}

.dashdetail {
    padding: 30px;
}

.stockstatus a {
    background: #2DCA73;
    border-radius: 14px;
    width: 152px;
    height: 32px;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 42px;
    /* identical to box height, or 420% */
    letter-spacing: -0.02em;
    color: #FFFFFF;
    justify-content: center;
}

.stockstatus h6 {
    line-height: 33px;
}