section.signupdetail {
    display: flex;
    align-items:
        center;
    height: auto;
    margin: 60px 0;
    padding: 0;
}

section.signupdetail .row {
    display: flex;
    align-items: center;
}

.emaillogin {
    position: relative;
    margin-bottom: 20px;
}

.emaillogin input {
    border: 1px solid #E5E9F2;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 60px;
    padding-left: 50px;
}

.emaillogin span {
    position: absolute;
    left: 20px;
    z-index: 9;
    top: 30px;
}

.loginimg {
    display: flex;
    justify-content: center;
}

a.remme span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    /* identical to box height, or 292% */
    letter-spacing: -0.03em;
    color: #8392A5;
    margin-left: 10px;
}

a.need {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    /* identical to box height, or 250% */
    letter-spacing: 0;
    color: #8392A5;
}

.account {
    margin-top: 60px;
}

a.reginow {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 35px;
    /* identical to box height, or 250% */
    letter-spacing: 0;
    text-decoration-line: underline;
    color: #1C2D41;
    margin-left: 10px;
}

.loginimg.orders h4 {
    left: 150px;
    bottom: 10px;
}

.signin input {
    background: #1190CB;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0;
    color: #FFFFFF;
    border: none;
}

.loginimg.orders {
    max-width: 420px;
    margin: auto;
}

.loginimg.orders h4 {
    left: 20px;
}