.editprofiledetail {
    background: #FFFFFF;
    padding: 40px 40px;
}

.editprotitle h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #101821;
    margin-bottom: 20px;
}

.flex-column.nav.nav-pills .nav-item {
    border-bottom: 1px solid #E5E9F2;
}

.nav-pills .nav-link {
    height: 70px !important;
    display: flex;
    align-items: center;
    background: transparent !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #8392A5;
    position: relative;
    padding: 0;
}

.nav-pills .nav-link.active {
    color: #000000;
}

.nav-pills .nav-link.active:after {
    content: "";
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    background: #1190CB;
    width: 5px;
    height: 32px;
}

.editprofiledetail .col-sm-3 {
    border-right: 1px solid #E5E9F2 !important;
    padding-right: 40px;
}

ol.breadcrumb {
    margin: 20px 0px;
}

.proimg {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.changeimg {
    margin-left: 14px;
}

.prodetail {
    padding: 0 30px;
}

.pronamedetail input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C0CCDA;
    height: 50px;
    padding: 11px;
}

.pronamedetail label {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #3C4858;
    margin-bottom: 20px;
}

.selectmalefemale {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.selectmalefemale input {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.selectmalefemale label {
    margin: 0;
}

.selectmaingender {
    display: flex;
    align-items: center;
}

.pronamedetail {
    margin-bottom: 20px;
    margin-top: 13px;
}

.savebtn {
    margin-top: 32px;
    display: flex;
}

a.btnblue {
    background: #1190CB;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    /* identical to box height, or 300% */
    letter-spacing: -0.06em;
    color: #FFFFFF;
}

a.deactive {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    /* identical to box height, or 300% */
    letter-spacing: -0.06em;
    color: #FF5151;
    margin-left: 32px;
}

ol.breadcrumb {
    margin: 29px 0px !important;
}

.editprofiledetail {
    margin-bottom: 80px;
    border-radius: 20px;
}

.nav-pills .nav-link {
    font-size: 18px;
    font-family: poppins;
}

ul.addaddress {
    display: flex;
    align-items: center;
    list-style: none;

}

.plusbtn {
    background: #1190CB;
    border: 1px solid #E5E9F2;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.plusbtn a {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    background: rgb(255 255 255 / 10%);
    justify-content: center;
    border-radius: 100%;
    color: white;
    font-size: 30px;
}

.plusbtn span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 11px;
}

.addedaddress {
    border: 1px solid #C0CCDA;
    width: 250px;
    height: 150px;
    padding: 20px;
    margin-left: 30px;
}

.addedaddress span {
    background: #E5E9F2;
    opacity: 0.5;
    width: 57px;
    height: 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.04em;
    color: #8392A5;
}

.addedaddress h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #101821;
    margin: 10px 0px !important;
}

.addedaddress p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 182% */
    letter-spacing: -0.04em;
    color: #8392A5;
}

.editprofiledetail {
    height: 625px;
}

.editprofiledetail .row {
    height: 100%;
}

ul.addaddress {
    padding: 0;
}

a.btnblue:hover {
    border: 1px solid #1190CB;
    background: transparent;
    color: #1190CB;
}

a.btnblue {
    transition: all 0.5s;
}

.dashdetail .cartprodetail {
    padding: 21px 0 0;
}

input[type="text"]:focus-visible {
    outline: none;
}

input#male:focus-visible {
    outline: none;
}

.pswrddash input {
    background: #FFFFFF;
    border: 1px solid #C0CCDA;
    height: 45px;
    max-width: 500px;
    width: 100%;
}

.pswrddash {
    display: flex;
    flex-direction: column;
}

.pswrddash {
    margin-bottom: 34px;
}

div#left-tabs-example-tabpane-third {
    margin-left: 50px;
}

.pswrddash label {
    margin-bottom: 10px;
}

.change {
    position: relative;
}

.change input {
    position: absolute;
    width: 65px;
    height: 25px;
    opacity: 0;
    cursor: pointer;
}

.proimg img {
    width: 130px;
    border-radius: 100%;
}