.container {
  max-width: 1440px !important;
  width: 100%;
}

section.admin_form {
  padding: 80px 0;
}

.admin_form_inner {
  max-width: 750px;
  margin: auto;
}

section.signupdetail,
section.admin_form,
section.logindetail {
  padding: 50px 0 !important;
  margin: 0 !important;
}

section.logindetail section.logindetail .col-lg-5,
section.logindetail .col-lg-6,
section.signupdetail .col-lg-5,
section.signupdetail .col-lg-6 {
  padding: 0;
}

.createsubmit {
  width: 100%;
  height: 60px;
}

.btn_submit {
  background: #1190CB;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  /* width: 100%;
  height: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0;
  color: #FFFFFF;
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}