.dashdetail {
    width: calc(100% - 300px);

    padding-left: 30px;
}

.maindash {
    display: flex;
}

ul.cartcount {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cartcountsub {
    width: 220px;
    height: 120px;
    background: white;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #00000021;
}

.cartcountsub span {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.06em;
    color: #101821;
    margin-left: 6px;
}

.cartcountsub {
    display: flex;
    flex-wrap: wrap;
}

.cartcountsub p {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: #1C2D41;
}

ul.cartcount {
    padding: 0;
}

.cartprodetail {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
}

.sendrequest {

    display: flex;
    align-items: center;
}

.sendrequest a {
    margin-left: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #1C2D41;
    display: flex;
    align-items: center;
}

.sendrequest a svg {
    margin-left: 8px;
}

.sendrequest span {
    display: flex;
    align-items: center;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #1C2D41;
}

.sendrequest span svg {
    margin-right: 8px;
}

.sendrequest {
    border-bottom: 1px solid rgb(112 112 112 / 10%);
    padding-bottom: 22px;
}

ul.prodetail {
    padding: 0;
    list-style: none;
}

ul.prodetail li {
    display: flex;
    padding-top: 25px;
}

.proname {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proimgname span {
    width: auto;
}

.proname span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;

    letter-spacing: -0.03em;
    color: #0A121C;
}

.proimgname {
    width: 100%;
    max-width: 250px;
    display: flex;
}

ul.prodetail li p {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;

    letter-spacing: -0.03em;
    color: #0A121C;
}

.proimgname img {
    margin-right: 8px;
}

.cartcountsub img {
    min-width: 60px;
    margin-right: 6px;
    height: 60px;
}

.cartcountsub p {
    margin-top: 9px;
}