.paymentscard input {
    height: 55px;
    width: 500px;

    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    padding-left: 20px;
}

.paymentscard,
.expire {
    margin-bottom: 15px;
}

.paymentscard select {
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    width: 500px;
    height: 55px;
    position: relative;
    margin-bottom: 15px;
    padding-left: 50px;
    display: flex;
}

.expire {
    position: relative;
}

.expire span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 50px;

}

.expire input {
    width: 235px;
    margin-right: 30px;
}

.expire {
    display: inline-flex;
}

.name {
    position: relative;
}

.name span.paymrntstatus {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    bottom: 0;
}