.loginimg {
    position: relative;
}

.loginimg h4 {
    position: absolute;
    bottom: 0px;
    left: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 0;
    color: #FFFFFF;
    /* transform: translateX(-50%); */
    width: 100%;
}

.logindetail h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */
    letter-spacing: 0;
    color: #1C2D41;
    margin-bottom: 40px;
}

.signin a {
    background: #1190CB;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0;
    color: #FFFFFF;
}

a.forgot {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    /* identical to box height, or 250% */
    letter-spacing: -0.03em;
    color: #1C2D41;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.remember {
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.emaillogin input {
    border: 1px solid #E5E9F2;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 60px;
    padding-left: 50px;
}

section.logindetail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 60px 0;
}

.login {
    justify-content: center;
}

section.logindetail .row {
    display: flex;
    align-items: center;
}

.loginimg h4 p {
    font-size: 19px;
    color: #ffffff78;
}