.backnow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

section.forgotdetail .logindetail h3 {
    margin-bottom: 17px;
}

.logindetail h5 {
    margin-bottom: 40px;
}

span.leftarrow svg {
    margin-right: 15px;
}

section.Resetdetalis .row,
section.forgotdetail .row {
    display: flex;
    align-items: center;
}

section.Resetdetalis,
section.forgotdetail {
    padding: 50px 0;
    margin: 0;
}