.visit {
    background: #FFFFFF;
    padding: 20px;
}

.viditlist {
    display: flex;
    justify-content: space-between;
    width: 420px;
    align-items: center;
}

.BoysKurtatext {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.viditlist1 {
    margin: 25px 0;
}

.viewbtnbtn {
    color: #101821;
    width: 100%;
    padding: 14px;
    background: #ffffff;
    border: 1px solid #CED4DA;
    display: flex !important;
    align-items: center;
    justify-content: center;

}