.usd,
header .container {
    max-width: 1440px
}

.searchbar,
.usd,
.used.container {
    border-bottom: 1px solid #e5e9f2
}

.featured h4,
.firstcol,
.join h4,
.join p,
footer ul {
    text-align: left
}

.email,
.emaillogin,
.loginimg img,
.modal-title.h4,
.search {
    position: relative
}

.email a,
.emaillogin span {
    top: 50%;
    transform: translateY(-50%)
}

.usd {
    display: flex;
    align-items: center;
    padding: 14px 0;
    display: flex;
    margin: auto
}

ul.home,
ul.icons {
    display: flex;
    align-items: center;
    list-style: none
}

ul.home {
    justify-content: center;
    gap: 25px
}

.copyright,
.searchbar {
    align-items: center;
    display: flex
}

ul.home li a {
    text-decoration: none !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 0;
    color: #0a121c
}

.searchbar {
    justify-content: space-between;
    padding: 16px 0
}

ul.selectdetail {
    padding: 0;
    list-style: none;
    margin: 0
}

ul.selectdetail li select {
    background: 0 0;
    border: none;
    gap: 30px
}

.track {
    display: flex;
    margin-left: auto;
    gap: 80px
}

.email a,
.emaillogin span,
.loginimg h4,
.search span {
    position: absolute
}

.search span {
    left: 0
}

.search input {
    background: 0 0;
    border: none;
    padding-left: 50px
}

footer ul,
ul.home,
ul.icons {
    padding: 0;
    margin: 0
}

ul.home {
    gap: 51px
}

ul.icons {
    gap: 30px
}

.used.container {
    max-width: 100%
}

.track a {
    text-decoration: none
}

header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 99
}

footer ul {
    list-style: none
}

footer .container {
    padding: 88px 0
}

footer {
    background: #1c2d41
}

.copyright {
    justify-content: space-between;
    border-top: 1px solid #3c4858;
    padding: 30px 0
}

ul.visaimg {
    display: flex;
    align-items: center;
    gap: 25px
}

.firstcol p {
    color: #8392a5;
    margin: 35px 0
}

.footerrow.row {
    display: flex;
    justify-content: center;
    gap: 70px
}

ul.homesdetail.mt-20 {
    margin-top: 65px
}

ul.homesdetail li a {
    color: #f0f8ff91;
    margin-bottom: 10px
}

.join h4 {
    color: #ffff;
    margin-bottom: 25px
}

.join p {
    color: #f0f8ff91;
    margin-bottom: 20px
}

.join {
    margin-left: 0
}

.email input {
    background: #121f2e;
    border: none;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    color: #fff
}

.emaillogin input,
.signin a {
    backdrop-filter: blur(4px);
    width: 430px;
    height: 60px
}

.email a {
    right: 20px;
    color: #1190cb;
    font-weight: 600;
    border-left: 1px solid #ffffff38;
    padding-left: 10px
}

.loginimg h4,
.remember a,
.signin a,
a.need {
    font-weight: 400;
    font-style: normal;
    line-height: 35px
}

ul.homesdetail li {
    margin-bottom: 8px;
    width: max-content
}

.footerrow.row .col-lg-2,
.modal-body {
    padding: 0
}

ul.icons li a:hover svg {
    transform: translateY(-5px);
    transition: .5s
}

ul.icons li a svg {
    transition: .5s
}

.featured h4 {
    margin-bottom: 33px;
    color: #ffff
}

ul.homesdetail li a:hover {
    color: #ffffffc2;
    transition: .5s
}

.copyright p {
    margin: 0;
    color: #8392a5
}

.copy {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: auto
}

.login,
.modal-dialog {
    display: flex;
    align-items: center
}

.modal-dialog {
    height: 100vh
}

.remember,
.signin a {
    display: flex;
    align-items: center
}

.modal-content {
    width: fit-content;
    border: none
}

.loginimg h4 {
    bottom: 30px;
    left: 40px;
    font-size: 24px;
    letter-spacing: -.04em;
    color: #fff
}

.dreessflex h4,
.signin a,
a.forgot {
    letter-spacing: 0
}

.emaillogin {
    margin-bottom: 20px
}

.emaillogin input {
    border: 1px solid #e5e9f2;
    padding-left: 50px
}

.emaillogin span {
    left: 20px;
    z-index: 9
}

.remember a,
a.need {
    font-size: 16px;
    letter-spacing: 0;
    color: #8392a5
}

.signin a {
    background: #1190cb;
    justify-content: center;
    font-size: 18px;
    color: #fff
}

.account a.reginow,
a.forgot {
    font-weight: 500;
    color: #1c2d41
}

a.forgot {
    font-style: normal;
    font-size: 14px;
    line-height: 35px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto
}

.dreessflex h4,
.dreessflex span {
    font-weight: 400;
    font-style: normal
}

.remember {
    margin: 60px 0
}

.cartpopp,
.modal-dialog {
    align-items: center;
    display: flex
}

.account {
    margin-top: 100px
}

.account a.reginow {
    margin-left: 12px
}

a.remme span {
    margin-left: 6px
}

.modal-header {
    padding: 0;
    border: none
}

.modal-dialog {
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0
}

.cartmenu {
    padding: 20px
}

.cartpopp {
    margin-bottom: 15px
}

.dreessflex h4 {
    font-size: 16px;
    line-height: 32px;
    color: #0a121c;
    margin: 0
}

.dreessflex span {
    margin-right: 5px;
    font-size: 17px;
    line-height: 42px;
    letter-spacing: -.02em;
    color: #8392a5
}

.dreessflex a {
    color: #1190cb
}

.totalsub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.totalsub h3,
.totalsub h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: -.02em;
    color: #0a121c;
    margin: 0;
}

.viewcart a.viewcartbtn,
a.checkoutbtn {
    border: 1px solid #c0ccda;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: -.02em;
    width: 100%
}

.viewcart .contact_submit_btn:hover {
    color: #fff;
}

.viewcart a.viewcartbtn {
    background: #fff;
    box-shadow: 0 7px 6.5px rgba(131, 146, 165, .0784314);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a121c
}


.viewcart a {
    display: block;
    margin-bottom: 10px
}

a.checkoutbtn {
    box-shadow: 0 7px 6.5px rgb(131 146 165 / 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #1190cb
}

.cartvisit {
    width: 320px
}

.viewcart .contact_submit_btn {
    width: 100%;
    text-align: center;
    margin-bottom: 0
}

.imageflex img {
    height: 100px !important;
}

.deletebtn {
    border: none;
    background: none;
    color: red;
}

.visit_visit,
.heart_heart {
    padding: 0;
}

.cartsempty {
    margin: 0;
    padding: 20px 0;
}

.emptybox {
    width: auto;
    height: auto;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
    width: 100% !important;
    padding: 0;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    left: auto !important;
    right: 50px;
    max-width: 500px !IMPORTANT;
    padding: 20px;
}

div#basic-menu {
    top: 30px;
}