.profile {
    display: flex;
    align-items: center;
}

body {
    background: #F7F8FB;
}

.profile {
    background: white;
    padding: 20px;
    border-radius: 11px;
}

aside {
    width: 300px;

}

.profilename h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #1C2D41;
    margin-bottom: 0;
}

.profilename {
    margin-left: 9px;
}

.profilename a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #0d6efd;
}

.dashboard {
    margin-top: 12px;
}

a {
    text-decoration: none;
}

ul.dashmenu {
    padding: 0;
    list-style: none;
    background: white;
    margin-top: 12px;
    border-radius: 11px;
}

ul.dashmenu li {
    padding: 0px 17px;
}

ul.dashmenu li a {
    padding: 0 17px;
    border-bottom: 1px solid #E5E9F2;
}

ul.dashmenu li a.active:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 22px;
    left: -17px;
    background: #1190CB;
    top: 50%;
    transform: translateY(-50%);
}

ul.dashmenu li a.active {
    color: #1190CB;
}

ul.dashmenu {
    padding: 12px 0;
}

ul.dashmenu li:last-child a {
    border: none;
}

ul.dashmenu li a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 17px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #8392A5;
}

ul.dashmenu li a svg {
    margin-right: 8px;
}

ul.dashmenu li a.active {
    position: relative;
}

ul.dashmenu li a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #8392A5;
}

ul.dashmenu li a svg {
    margin-right: 8px;
}

ul.dashmenu li a.active {
    position: relative;
}

ul.dashmenu li a.active a {
    color: #1190CB;
}

ul.dashmenu li a.active svg path {
    stroke: #1190CB;
}

.supportticket a {
    height: 50px;
    background: #1C2D41;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border-radius: 7px;
}