.subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtotal h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 37px;
    /* identical to box height, or 264% */
    letter-spacing: 0;
    color: #0A121C;
    opacity: 0.5;
    margin: 0;
}

.newtotal.totals {
    display: flex;
    justify-content: space-between;
}

.subtotaldetail {
    padding: 20px 0px;
}

.newtotal.totals {
    border-top: 1px solid #C0CCDA;
    margin-top: 20px;
    padding-top: 20px;
}


.newtotal.totals h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    /* identical to box height, or 168% */
    letter-spacing: -0.02em;
    color: #0A121C;
    opacity: 1;
}

.newtotal.totals span {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    /* identical to box height, or 168% */
    letter-spacing: 0;
    color: #1C2D41;
    opacity: 1;
}

.subtotal span {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
}

.cartdetailtotal.bill a {
    background: #1190CB;
    box-shadow: 0px 7px 6.5px rgba(131, 146, 165, 0.0784314);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartdetail h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: 0;
    color: #0A121C;
}

.shopingcart {
    margin-right: 50px;
}

.cartdetail {
    width: 40%;
}

form .namesdetail {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-end;
}

.name label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0;
    color: #3C4858;
}

.namesdetail input {
    width: 500px;
    height: 45px;
    background: #FFFFFF;
    padding-left: 20px;
    border: 1px solid #C0CCDA;
}

.cartdetailtotal.bill {
    margin-top: 30px;
}

.name label {
    margin-bottom: 10px;
}


.shopingcart.detail h3 {
    margin-bottom: 30px;
}

.namesdetail .name:first-child {
    margin-right: 35px;
}

.name select {
    height: 45px;
    width: 500px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */
    color: #1C2D41;
    background: #FFFFFF;
    border: 1px solid #C0CCDA;
}

.namesdetail.postcode {
    margin-bottom: 50px;
}

.namesdetail.account {
    margin-bottom: 70px;
}

.namesdetail.account {
    margin-bottom: 70px;
}

.namesdetail.password {
    margin-bottom: 37px;
}

textarea {
    border: 1px solid #C0CCDA;
    padding-left: 20px;
    width: 100%;
    padding-top: 10px;
}

.ship {
    margin-bottom: 38px;
}

section.billonfo {
    padding-bottom: 120px;
}

.create span {
    margin-left: 10px;
}

.create span {
    font-weight: 450;
    font-size: 18px;

    /* identical to box height */
    letter-spacing: 0;
    color: #1C2D41;
}