.cartadd {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartdetail {
    display: flex;
    align-items: center;
}

ol.breadcrumb {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.cartadds {
    border-bottom: 1px solid #E5E9F2;

}

.bg {
    background: #E5E9F2;
    padding: 20px 0;
}

ol.breadcrumb li a {
    color: #8392A5 !important;
}

.cartadd {
    margin-bottom: 40px;
}

.cartdetail h4 {
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 22px;
}

.shopingcart {
    padding-top: 47px;
}

.shopingcart h3 {
    margin-bottom: 49px;
    font-size: 30px;
}

.cartadd input {
    border: 1px solid #E5E9F2;
    width: 100px;
    height: 45px;
    padding-left: 15px;




    /* identical to box height, or 262% */
}

section.shopingcartdetail {
    background: none;
}

.delete span {
    font-weight: 700;
    margin-right: 30px;
}

.delete {
    display: flex;
    align-items: center;
}

.delete a {
    display: flex;
}

.coupne {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.continue {
    display: flex;
    margin-left: auto;
}

.apply input {
    background: #E5E9F2;
    opacity: 0.5;
    border: none;
    width: 241px;
    padding-left: 26px;
    height: 50px;
}

.apply input::placeholder {
    font-style: normal;
    font-weight: 400;
    color: #0A121C;

}

.apply a {
    background: #1190CB;
    color: #FFFFFF;
    padding: 14px 60px;
    margin-left: 20px;
}

.continue a {
    letter-spacing: -0.02em;
    color: #1C2D41;
    font-weight: 500;
}

section.shopingcartdetail {
    height: 100vh;
}

.cartdetailtotal {
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    box-shadow: 0px 7px 6.5px rgba(131, 146, 165, 0.0509804);
    padding: 22px 25px;
    margin-top: 47px;
}

.cartdetailtotal h3 {
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C0CCDA;
    margin: 0;
}

.subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtotal h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 37px;
    /* identical to box height, or 264% */
    letter-spacing: 0;
    color: #0A121C;
    opacity: 0.5;
    margin: 0;
}

.subtotaldetail {
    padding: 20px 0px;
}

.subtotal.totals {
    border-top: 1px solid #C0CCDA;
    margin-top: 20px;
    padding-top: 20px;
}


.subtotal.totals h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    /* identical to box height, or 168% */
    letter-spacing: -0.02em;
    color: #0A121C;
    opacity: 1;
}

.subtotal.totals span {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    /* identical to box height, or 168% */
    letter-spacing: 0;
    color: #1C2D41;
    opacity: 1;
}

.subtotal span {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
}

.cartdetailtotal a {
    background: #1190CB;
    box-shadow: 0px 7px 6.5px rgba(131, 146, 165, 0.0784314);
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 20px 59px;
}

.cartdetail h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: 0;
    color: #0A121C;
}

.shopingcart {
    margin-right: 50px;
}

.cartdetail {
    width: 40%;
}