.bestsell h3 {
    text-align: center;
}


.bestsell h3 {
    position: relative;
    padding-bottom: 14px;
    font-weight: 600;
    font-size: 30px;
}

.bestsell h3:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 95px;
    background-image: url(../../../assets/images/bgborder.png);
    background-repeat: no-repeat;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

ul.shopping {
    padding: 0;
    margin-top: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
}


ul.shopping li .shopers {
    display: flex;
    align-items: center;

}

ul.shopping li {
    width: 33%;
    margin-bottom: 50px;
}

.shopsssss h4 {
    font-size: 21px;
    margin-bottom: 8px;
    font-weight: 400;
}

.shopsssss {
    margin-left: 10px;
}

.ratt {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ratt span {
    margin-left: 5px;
}

.shopsssss a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    /* identical to box height, or 625% */
    letter-spacing: 0;
    color: #1190CB;
}