section.dailydealdetail img {
    width: 100%;
}

.hurryup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
}

section.dailydealdetail {
    position: relative;
}

.hurryup h3 {
    color: #1190CB;
    font-size: 34px;
    margin-bottom: 37px;
    font-weight: 600;
}

.hurryup h4 span {
    color: #1190CB;
}

.hurryup h4 {
    margin-bottom: 30px;
}

.hurryup p {
    margin-bottom: 50px;
}

.hurryup a {
    background: #000;
    padding: 15px 40px;
    color: #ffff;
    display: inline-flex;
    text-transform: uppercase;
    font-weight: 500;
}







.sellingproduct h3 {
    text-align: center;
    margin-bottom: 140px;
}