ul.fashionbanner {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.fashionbanner li img {
    margin-right: 30px;
    width: 460px;
}

.fashiondetail {
    padding: 0;
}

ul.fashionbanner li img:last-child {
    margin-right: 0;
}

section.fahion {
    padding: 120px 0;
}


