ul.productdetail {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.productdetail li {
    width: 25%;
}

.feature h3 {
    text-align: center;
}

ul.productdetail {
    margin: 130px 0;
}

.feture_title {
    text-align: center;
    margin-bottom: 79px;
}

.feture_title_inner {
    position: relative;
    font-weight: 700;
    font-size: 34px;
}

.feture_title_inner:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 95px;
    background-image: url(../../../assets/images/bgborder.png);
    background-repeat: no-repeat;
    left: 50%;
  top: 50px;
    transform: translateX(-50%);
}

ul.productdetail li h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

ul.productdetail li p {
    margin: 0;
    margin-top: 22px;
}