.followdetail h3 {
    text-align: center;
}


.followdetail h3 {
    position: relative;
    padding-bottom: 14px;
    font-weight: 600;
    font-size: 30px;
}

.followdetail h3:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 95px;
    background-image: url(../../../assets/images/bgborder.png);
    background-repeat: no-repeat;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

ul.foloowimg {
    padding: 0;
    margin: 133px 0 100px 0;
    list-style: none;
    display: flex;
    align-items: center;
}