section.herosec .container {
    display: flex;
    align-items: center;
    position: relative;
}

.heroimg {
    position: relative;
}

section.herosec {
    position: relative;
}

.good h4 span {
    color: #ffff;
    background: #CC2121;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.good h4 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.good p {
    margin: 0;
    margin-left: 8px;
}

.good h2 {
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 50px;
}

.good a {
    background: #000000;
    padding: 20px;
    color: #ffff;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}

.good a svg {
    margin-left: 15px;
}

.images {
    position: relative;
}

section.herosec .images span {
    position: absolute;
    top: -100px;
    right: 0;
    width: 444px;
    z-index: -9;
}

section.herosec {
    padding: 100px 0;
}

.good h4 p {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 600;
}

.good a {
    font-weight: 600;
}

section.herosec .row {
    display: flex;
    align-items: center;
}

section.herosec {
    background: #DBEEF7;
    z-index: 9;
}