ul.productdetail {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

ul.productdetail li {
    width: 25%;
}

.livestreamdetail h3 {
    text-align: center;
}


.livestreamdetail h3 {
    position: relative;
    padding-bottom: 14px;
    font-weight: 600;
    font-size: 30px;
}

.livestreamdetail h3:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 95px;
    background-image: url(../../../assets/images/bgborder.png);
    background-repeat: no-repeat;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.livestreamdetail {
    padding: 0;
}

ul.liveimg {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    margin: 50px 0 97px 0;
}

ul.liveimg li {
    width: 25%;
}

.livestreamdetail p {
    text-align: center;
    margin-top: 40px;
}

ul.liveimg li {
    position: relative;
}

ul.liveimg li h4 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: #FF5151;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    /* identical to box height, or 625% */
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 5px 15px 6px 25px;
}

ul.liveimg li h4 span {
    height: 10px;
    width: 10px;
    background: #fff;
    position: absolute;
    left: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}