.sellingproduct h3 {
    text-align: center;
    margin-bottom: 140px;
}

section.selling {
    padding: 110px 0;
}

.nav-tabs .nav-link {
    border: none;
}

ul.mb-3.nav.nav-tabs {
    border-bottom: none;
    display: flex;
    justify-content: center;
}

li.nav-item button {
    padding: 0;
    margin: 0 38px;
    color: #000;
    font-weight: 400;
}

.nav-tabs .nav-link.active:after {
    position: absolute;
    height: 3px;
    width: 20px;
    background: #1190CB;
    bottom: -10px;
    border-radius: 20px;
    left: 50%;
    content: "";
    transform: translateX(-50%);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    position: relative;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: none;
    font-weight: 600;
}

ul.shoppro {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 60px;
}

ul.shoppro li {
    width: 25%;
}

ul.nav.nav-tabs {
    border: none;
    justify-content: center;
}

.rating {
    display: flex;
    justify-content: space-between;
}

ul.shoppro p {
    margin: 0;
    margin-top: 22px;
}

.last {
    padding-right: 15px;
}

ul.shoppro li h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sellingproduct h3 {
    position: relative;
    padding-bottom: 14px;
}

.sellingproduct h3:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 95px;
    background-image: url(../../../assets/images/bgborder.png);
    background-repeat: no-repeat;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}