ul.productdetail {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

}

ul.productdetail li {
    width: 25%;
}

.womens {
    padding: 87px 0 0;
}

.womencloth h3 {
    text-align: center;
}

ul.productdetail {
    margin: 97px 0;
}

.womencloth h3 {
    position: relative;
    padding-bottom: 14px;
    font-weight: 600;
    font-size: 30px;
}

.womencloth h3:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 95px;
    background-image: url(../../../assets/images/bgborder.png);
    background-repeat: no-repeat;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.womencloth {
    padding: 0;
}

ul.productdetail li h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

ul.productdetail li p {
    margin: 0;
    margin-top: 22px;
}