.stockstatus.mb-0 p {
    margin-bottom: 0;
}

.btnaddcart a {
    background: #FFFFFF;
    border: 1px solid #1190CB;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    /* identical to box height, or 300% */
    letter-spacing: -0.06em;
    color: #101821;
}