ul.jeans li,
ul.mensfasion li {
    display: flex;
    align-items: center;
}

.colordetailcom,
ul.mensfasion {
    border-bottom: 1px solid #e5e9f2;
}

.colordetailcom h4,
.pricespan h4 span,
.showing h4 {
    font-style: normal;
    font-weight: 400;
    color: #3c4858;
    letter-spacing: 0;
}

.womrncrub {
    padding: 20px 0;
    background: #e5e9f2;
}

.category,
.sertdetail {
    padding-top: 64px;
}

ul.mensfasion {
    padding: 0 0 40px;
    margin: 30px 40px 0 0;
    list-style: none;
}

ul.jeans,
ul.sertdetail {
    padding: 0;
    list-style: none;
}

ul.mensfasion li {
    justify-content: space-between;
    margin-bottom: 8px;
}

ul.mensfasion li h4,
ul.mensfasion li span {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0;
    color: #8392a5;
}

.colordetailcom {
    margin-top: 40px;
    padding-bottom: 40px;
}

.colordetailcom h4 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 30px;
}

.pricespan h4 span,
.showing h4 {
    font-size: 17px;
    line-height: 17px;
    margin: 0;
}

.jeans h4,
.jeans p {
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
}

.jeans h4,
.jeans p,
ul.mensfasion li h4:hover,
ul.mensfasion li:hover span {
    color: #1c2d41;
}

.pricespan h4 {
    margin: 0;
}

.colordetailcom input {
    width: 45px;
    height: 45px;
    background: #fff;
    border: 1px solid #e5e9f2;
    text-align: center;
    box-shadow: 0 7px 18px rgba(131, 146, 165, 0.101961);
    margin-right: 8px;
    margin-bottom: 50px;
}

ul.jeans {
    margin: 0;
}

ul.jeans li {
    margin-bottom: 20px;
}

.jeans span,
.sertdetail {
    align-items: center;
    display: flex;
}

.jeans {
    margin-left: 20px;
}

.jeans h4 {
    margin-bottom: 11px;
    font-size: 19px;
    letter-spacing: 0;
}

.jeans span {
    margin-bottom: 0;
}

.jeans span svg,
li.grid svg {
    margin-right: 5px;
}

.jeans p {
    font-size: 16px;
    letter-spacing: -0.03em;
    opacity: 0.6;
    margin: 0;
}

.colordetailcom h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #3c4858;
    margin-bottom: 30px;
}

li.grid,
ul.sertdetail span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
}

.sertdetail {
    justify-content: space-between;
}

ul.sertdetail {
    margin: 0;
}

ul.sertdetail span {
    line-height: 17px;
    color: #92a6bd;
    margin-right: 13px;
}

ul.sertdetail select {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #3c4858;
    border: none;
    background: 0 0;
    border-right: 2px solid #c0ccda;
    margin-right: 13px;
    padding: 0 10px;
}

li.grid {
    padding: 0 15px;
    display: flex;
    align-items: center;
    color: #8392a5;
    line-height: 0;
}

.select {
    border-right: 1px solid red;
}

.contact_store_product_inner.newadd {
    display: inline-flex;
    margin-right: 15px !important;
}

.longdetail {
    padding-top: 40px;
}

.contact_store_product_inner.newadd .contact_product_head {
    margin-top: 10px;
}

ul.jeans.jeansmain {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

ul.jeans.jeansmain img {
    width: 100%;
    height: 402px;
}

ul.jeans.jeansmain li {
    width: 31%;
}

.contact_details {
    display: flex;
    align-items: center;
}

.contact_details span {
    padding: 0 23px;
    margin: 0;
}

.live_streaming_slider {
    padding-bottom: 0;
    padding-top: 0;
}

li.rateproduct {
    margin-bottom: 0 !important;
}




ul.jeans.jeansmain.list {
    display: block;
    width: 100%;
}

ul.jeans.jeansmain.list a {
    display: flex;
    align-items: center;
}

ul.jeans.jeansmain.list li {
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px !important;
}

ul.jeans.jeansmain.list img {
    width: 100%;
    max-width: 160px;
    height: auto;
}

ul.jeans.jeansmain.list .contact_details {
    position: relative;
    opacity: 1;
    top: auto;
    left: auto;
    transform: translate(0.0);
}

ul.jeans.jeansmain.list .contact_details {
    display: block;
    height: 100%;
    width: auto;
}

ul.jeans.jeansmain.list span.contact_details_icons {
    padding: 10px;
}

ul.jeans.jeansmain.list span.contact_details_icons svg {
    margin: 0 !important;
}

ul.jeans.jeansmain.list .contact_store_product_img {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

ul.jeans.jeansmain.list img {
    margin: 0;
    height: 178px;
}

ul.jeans.jeansmain.list .contact_details {
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000029;
}

ul.jeans.jeansmain.list span.contact_details_icons {
    border: none;
    border-bottom: 1px solid #00000021;
    padding: 9px;
}

ul.jeans.jeansmain.list span.contact_details_icons svg {
    width: 19px;
}

ul.jeans.jeansmain.list .contact_details {
    bottom: 0;
}

ul.jeans.jeansmain.list span.contact_details_icons svg {
    margin: 0 !important;
}

ul.jeans.jeansmain.list .contact_store_product_img {
    display: flex;
    align-items: center;
}

ul.jeans.jeansmain.list img {
    margin: 0;
    height: 178px;
}

ul.jeans.jeansmain.list .contact_details {
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000029;
}

ul.jeans.jeansmain.list span.contact_details_icons {
    border: none;
    border-bottom: 1px solid #00000021;
    padding: 9px;
}

ul.jeans.jeansmain.list span.contact_details_icons svg {
    width: 19px;
}

ul.jeans.jeansmain.list .contact_details {
    bottom: 0;
}

ul.jeans.jeansmain.list .prodetail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul.jeans.jeansmain.list .contact_store_product_img {
    width: 26%;
}

ul.jeans.jeansmain.list .contact_details {
    transition: none;
}

.prodetail p {
    margin-left: auto;
}

ul.jeans.jeansmain.list .prodetail h4 {
    display: flex;
    width: 100%;
}

ul.jeans.jeansmain.list .prodetail p {
    font-size: 21px;
    opacity: 1;
}

.live_releted_product {
    width: 100%;
}

.pricespan h4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pricespan input {
    width: 100%;
    margin: 0;
    margin-bottom: 13px;
}

.pricespan {
    text-align: left !IMPORTANT;
}

.pricespan h4 h1 {
    font-size: 20px;
}

ul.sertdetail select {
    outline: none;
}

ul.jeans.jeansmain.list {
    display: block;
    width: 100%;
}

ul.jeans.jeansmain.list a {
    display: flex;
    align-items: center;
}

ul.jeans.jeansmain.list li {
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px !important;
}

ul.jeans.jeansmain.list img {
    width: 100%;
    max-width: 160px;
    height: auto;
}

ul.jeans.jeansmain.list .contact_details {
    position: relative;
    opacity: 1;
    top: auto;
    left: auto;
    transform: translate(0.0);
}

ul.jeans.jeansmain.list .contact_details {
    display: block;
    height: 100%;
    width: auto;
}

ul.jeans.jeansmain.list .contact_details a {}

ul.jeans.jeansmain.list span.contact_details_icons {
    padding: 10px;
}

ul.jeans.jeansmain.list span.contact_details_icons svg {
    margin: 0 !important;
}

ul.jeans.jeansmain.list .contact_store_product_img {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

ul.jeans.jeansmain.list img {
    margin: 0;
    height: 178px;
}

ul.jeans.jeansmain.list .contact_details {
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000029;
}

ul.jeans.jeansmain.list span.contact_details_icons {
    border: none;
    border-bottom: 1px solid #00000021;
    padding: 9px;
}

ul.jeans.jeansmain.list span.contact_details_icons svg {
    width: 19px;
}

ul.jeans.jeansmain.list .contact_details {
    bottom: 0;
}

ul.jeans.jeansmain.list span.contact_details_icons svg {
    margin: 0 !important;
}

ul.jeans.jeansmain.list .contact_store_product_img {
    display: flex;
    align-items: center;
}

ul.jeans.jeansmain.list img {
    margin: 0;
    height: 178px;
}

ul.jeans.jeansmain.list .contact_details {
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000029;
}

ul.jeans.jeansmain.list span.contact_details_icons {
    border: none;
    border-bottom: 1px solid #00000021;
    padding: 9px;
}

ul.jeans.jeansmain.list span.contact_details_icons svg {
    width: 19px;
}

ul.jeans.jeansmain.list .contact_details {
    bottom: 0;
}

ul.jeans.jeansmain.list .prodetail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul.jeans.jeansmain.list .contact_store_product_img {
    width: 26%;
}

ul.jeans.jeansmain.list .contact_details {
    transition: none;
}

.prodetail p {
    margin-left: auto;
}

ul.jeans.jeansmain.list .prodetail h4 {
    display: flex;
    width: 100%;
}

ul.jeans.jeansmain.list .prodetail p {
    font-size: 21px;
    opacity: 1;
}

.live_releted_product {
    width: 100%;
}

.pricespan h4 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pricespan input {
    width: 100%;
    margin: 0;
    margin-bottom: 13px;
}

.pricespan {
    text-align: left !IMPORTANT;
}

.pricespan h4 h1 {
    font-size: 20px;
}

ul.rc-pagination.pagination-data.mainpage li {
    display: none;
}

ul.rc-pagination.pagination-data.mainpage li:first-child {
    display: block;
}

ul.rc-pagination.pagination-data.subpagi li:first-child {
    display: none;
}

ul.rc-pagination.pagination-data.subpagi {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: center;
    width: 100%;
    gap: 18px;
}

ul.rc-pagination.pagination-data.subpagi li a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.rc-pagination.pagination-data.subpagi li.active a {
    background: #1c2d41;
}

ul.rc-pagination.pagination-data.subpagi li.rc-pagination-item-active a {
    background: #1c2d41;
    color: white;
    border-radius: 6px;
}

ul.rc-pagination.pagination-data.subpagi a {
    border: 1px solid #1c2d41;
    border-radius: 5px;
}

ul.rc-pagination.pagination-data.subpagi button {
    border: 1px solid;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

ul.rc-pagination.pagination-data.subpagi {
    margin-top: 40px;
}

ul.mensfasion button {
    background: transparent;
    border: none;
}

.pricespan h4 {
    font-size: 17px;
}