.ratingstar {
    display: flex;
    align-items: center;
}

.visitbtnbtn,
.downloadbtntbn {
    border: 1px solid #1190CB;
    color: #101821;
    padding: 10px;
    display: flex;
}


.downloadtbn {
    display: flex;
}

.viewbtnbtn:hover,
.visitbtnbtn:hover,
.downloadbtntbn:hover {
    color: #101821;
}

.visitbtnbtn span,
.downloadtbn span {
    padding-right: 10px;
}

.downloads {
    margin-top: 12px;
}