ul.desdetail {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.desdetail li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 229% */
    margin-bottom: 25px;
    color: #8392A5;
}

div#react-aria2431593293-1-tabpane-Description {
    padding-top: 50px;
}

ul.desdetail {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.desdetail li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 229% */
    margin-bottom: 25px;
    color: #8392A5;
}

div#react-aria2431593293-1-tabpane-Description {
    padding-top: 50px;
}



.productnav.descrp ul.nav.nav-tabs {
    justify-content: left;
    font-size: 19px;
}

ul.desdetail {
    padding-top: 56px;
}

.productnav.descrp .nav-tabs .nav-link.active:after {
    bottom: -25px;
}

section.Description {
    padding: 75px 0;
}
