.dresslist h4 span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 300% */
    letter-spacing: 0;
    color: #8392A5;
    margin: 0;
}

.dresslist h4 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.dresslist h4 p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 300% */
    letter-spacing: -0.02em;
    color: #0A121C;
    margin-left: 8px;
}

section.Productviews {
    padding: 75px 0;
}

.dresslist h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    /* identical to box height, or 140% */
    letter-spacing: -0.02em;
    color: #0A121C;
}

.stars {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.startflex {
    display: flex;
    align-items: center;
}

.seller35 a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 150% */
    letter-spacing: 0;
    text-decoration-line: underline;
    color: #1190CB;
    margin-left: 7px;
}

.seller35 span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0;
    /* identical to box height, or 150% */
    letter-spacing: 0;
    margin-left: 10px;
    color: #8392A5;
}

.dollar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E5E9F2;
    padding-bottom: 25px;
}

.prisedress {
    display: flex;
    align-items: flex-end;
}

.prisedress h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 35px;
    /* identical to box height, or 124% */
    letter-spacing: -1px;
    color: #0A121C;
    margin: 0;
    margin-right: 5px;
}

.prisedress span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 262% */
    letter-spacing: 0;
    text-decoration-line: line-through;
    color: #8392A5;
}

.wishlist a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0;
    color: #1C2D41;
}

.wishlist a svg {
    margin-right: 10px;
}

.color {
    padding-top: 25px;
}

.color h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0;
    color: #3C4858;
    margin-bottom: 15px;
}

.colorchange {
    margin-bottom: 30px;
}

.color h4 {
    margin-bottom: 10px;
}

.colorchange {
    position: relative;
}

.size {
    display: flex;
    align-items: center;
}

.add {
    margin-left: 50px;
}

.addtocart {
    display: flex;
    align-items: center;
}

.size {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.add {
    margin-left: 80px;
    display: flex;
    align-items: center;
}

.addtocart {
    display: flex;
    align-items: center;
    margin-top: 40px;
}



.smallsize input {
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    padding-left: 17px;
    margin-right: 10px;
    margin-top: 10px;
}

.qua input {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 0;
    text-align: center;
    letter-spacing: 0;
    color: #1C2D41;
    border: none;
    background: none;
    width: 50px;
}

.add span {
    margin-left: 20px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: -0.04em;
    color: #1C2D41;
}

.size {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.add {
    margin-left: 80px;
    display: flex;
    align-items: center;
}

.addtocart {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.smallsize input {
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    padding-left: 17px;
    margin-right: 10px;
    margin-top: 10px;
}

.qua input {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 0;
    text-align: center;
    letter-spacing: 0;
    color: #1C2D41;
    border: none;
    background: none;
    width: 50px;
}

.add span {
    margin-left: 20px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #1C2D41;
}

.addtocart a.cartsss {
    background: #1190CB;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0;
    letter-spacing: 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addtocart a {
    width: 180px;
    height: 55px;
}

.addtocart a.room svg {
    margin-right: 8px;
}

.addtocart a.room {
    background: #1C2D41;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0;
    letter-spacing: 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.productnav.descrp ul.nav.nav-tabs {
    border-bottom: 1px solid #8392a526;
    padding-bottom: 24px;
    width: 100%;
}

.productnav.descrp button#react-aria6635261620-1-tab-Description {
    margin-left: 0;
}


/* image slider */



/** Container */
.product-images {
    max-width: 400px;
}

/** Thumbnails track */
.thumbnails {
    display: flex;
}

.slick-list {
    flex: 1 1 auto;
}

/** Current image */
.current-image {
    margin-bottom: 1px;
}

.current-image a {
    display: block;
    height: var(--current-image-height);
    overflow: hidden;
    position: relative;
}

.current-image a:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: box-shadow 0.1s linear;
}

.current-image a:focus {
    outline: 0;
}

.current-image a:focus:before {
    box-shadow: inset 0 0 0 1px black, inset 0 0 0 5px white;
}

.current-image img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/** Previous and next buttons */
.button {
    background: none;
    border: 0;
    cursor: pointer;

    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);

    padding: 0;
    margin: 0 1px;
    flex: 0 0 25px;

    transition: all 0.2s linear;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.button:focus {
    outline: none;
    background-color: royalblue;
    color: rgba(255, 255, 255, 1);
}

.button:disabled {
    opacity: 0.3;
}

/** Track of all thumbnails */
.thumbnails {
    height: var(--thumbnails-track-height);
}

/** Single thumbnail */
.thumbnail {
    position: relative;
}

.thumbnail-button {
    display: block;
    padding: 0;
    height: var(--thumbnails-track-height);
    width: 100%;

    cursor: pointer;
    border: 0;
    background: none;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.1s linear;
}

.thumbnail-button:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: box-shadow 0.1s linear;
}

.thumbnail-button:focus {
    outline: 0;
}

.thumbnail-button:focus:before {
    box-shadow: inset 0 0 0 1px black, inset 0 0 0 4px white;
}

.thumbnail-button:focus img,
.thumbnail-button:hover img,
.thumbnail-button[aria-current="true"] img {
    opacity: 1;
    filter: grayscale(0);
}

.thumbnail-button img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0.5;
    filter: grayscale(0.6);
    transition: all 0.1s linear;
}

/** Credits at bottom */
.credits {
    padding: 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    opacity: 0.7;
}

.credits img {
    height: 30px;
    margin-left: 5px;
    margin-top: -2px;
    vertical-align: middle;
}

.credits:hover,
.credits:focus {
    opacity: 1;
}


/* image slider */

.btn.btn-primary {
    background-color: #fb5b21;
    border: medium none;
    border-radius: 40px;
    box-shadow: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.8rem 2.6rem;
    position: relative;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    overflow: hidden;
    z-index: 1;
}

.btn.btn-primary:after {
    background-color: #ffffff;
    border-radius: 4px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    top: 0;
    visibility: hidden;
    z-index: -1;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
    box-shadow: none !important;
    outline: 0 !important;
    background-color: #ffffff !important;
    color: #333333 !important;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

a:hover {
    text-decoration: none;
}

/*=====  End of common css  ======*/

.product-slider-section-4 {
    padding: 60px 0;
}

.product-slider-section-4 .carousel-control-prev,
.product-slider-section-4 .carousel-control-next {
    color: #000000;
}

.product-slider-section-4 .carousel-control-prev-icon,
.product-slider-section-4 .carousel-control-next-icon {
    background-image: none;
}

.product-slider-section-4 .carousel-inner {
    cursor: move;
    position: absolute;
    top: 100px;
    width: 260px;
    right: 0;
    height: 490px;
    text-align: center;
    margin: 0 auto;
    left: 0;
}

.product-slider-section-4 .carousel-inner .carousel-item-content {
    display: table;
    width: 100%;
    height: 510px;
    padding: 15px;
    font-size: 14px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon {
    background-color: #eaadd4;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-two {
    background-color: #00f8ff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-three {
    background-color: #474555;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-four {
    background-color: #ce887e;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-five {
    background-color: #86a472;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-six {
    background-color: #f45019;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .contact-button-one {
    background-color: #d65db1;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-two {
    background-color: #00bfc6;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-three {
    background-color: #474555;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-four {
    background-color: #ce887e;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-five {
    background-color: #86a472;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-six {
    background-color: #f45019;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button:hover {
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li {
    cursor: pointer;
    float: left;
    height: auto;
    margin: 10px 0 0 0;
    padding: 10px;
    text-align: center;
    text-indent: unset;
    width: max-content
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content {
    background-color: #ffffff;
    border-color: #fb5b21;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content h6 {
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-gift {
    background-color: #eaadd4;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-heart {
    background-color: #00f8ff;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-flag {
    background-color: #474555;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-envelope {
    background-color: #ce887e;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-shopping-cart {
    background-color: #86a472;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-star {
    background-color: #00f8ff;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.one .data-slide-content {
    background-color: #d65db1;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.one .data-slide-content {
    background-color: #d65db1;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.two .data-slide-content {
    background-color: #00bfc6;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.three .data-slide-content {
    background-color: #8385eb;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.four .data-slide-content {
    background-color: #cf0822;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.five .data-slide-content {
    background-color: #2d7700;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.six .data-slide-content {
    background-color: #f45019;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-gift {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #d65db1;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-heart {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #00f8ff;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-envelope {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #cf0822;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-star {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #f45019;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-flag {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #8385eb;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-shopping-cart {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #2d7700;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content h6 {
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0 0 0;
}

.product-slider-section-4 {
    padding: 60px 0;
}

.product-slider-section-4 .carousel-control-prev,
.product-slider-section-4 .carousel-control-next {
    color: #000000;
}

.product-slider-section-4 .carousel-control-prev-icon,
.product-slider-section-4 .carousel-control-next-icon {
    background-image: none;
}

.product-slider-section-4 .carousel-inner {
    cursor: move;
    position: absolute;
    top: 100px;
    width: 260px;
    right: 0;
    height: 490px;
    text-align: center;
    margin: 0 auto;
    left: 0;
}

.product-slider-section-4 .carousel-inner .carousel-item-content {
    display: table;
    width: 100%;
    height: 510px;
    padding: 15px;
    font-size: 14px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon {
    background-color: #eaadd4;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-two {
    background-color: #00f8ff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-three {
    background-color: #474555;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-four {
    background-color: #ce887e;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-five {
    background-color: #86a472;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .carousel-item-icon-six {
    background-color: #ffc107;
    border-radius: 50%;
    color: #ffffff;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px;
    text-align: center;
    width: 60px;
}

.product-slider-section-4 .carousel-inner .contact-button-one {
    background-color: #d65db1;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-two {
    background-color: #00bfc6;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-three {
    background-color: #474555;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-four {
    background-color: #ce887e;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-five {
    background-color: #86a472;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button-six {
    background-color: #ffc107;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    margin-top: 11px;
    padding: 8px 10px;
}

.product-slider-section-4 .carousel-inner .contact-button:hover {
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li {
    cursor: pointer;
    float: left;
    height: auto;
    margin: 10px 0 0 0;
    padding: 10px;
    text-align: center;
    text-indent: unset;
    width: 33.333%;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content {
    background-color: #ffffff;
    border-color: #fb5b21;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content h6 {
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-gift {
    background-color: #eaadd4;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-heart {
    background-color: #00f8ff;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-flag {
    background-color: #474555;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-envelope {
    background-color: #ce887e;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-shopping-cart {
    background-color: #86a472;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.active .data-slide-content .fa-star {
    background-color: #ffc107;
    color: #ffffff;
}

.product-slider-section-4 .carousel-indicators li.one .data-slide-content {
    background-color: #d65db1;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.one .data-slide-content {
    background-color: #d65db1;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.two .data-slide-content {
    background-color: #00bfc6;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.three .data-slide-content {
    background-color: #8385eb;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.four .data-slide-content {
    background-color: #cf0822;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.five .data-slide-content {
    background-color: #2d7700;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li.six .data-slide-content {
    background-color: #f45019;
    padding: 20px 10px;
    border: 2px solid transparent;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-gift {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #d65db1;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-heart {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #00f8ff;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-envelope {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #cf0822;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-star {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #f45019;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-flag {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #8385eb;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content .fa-shopping-cart {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #2d7700;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.product-slider-section-4 .carousel-indicators li .data-slide-content h6 {
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0 0 0;
}

.title {
    padding: 0px 10px;
}

@media screen and (max-width: 576px) {

    .thumbs-slider-1 .carousel-inner .carousel-item h2,
    .thumbs-slider-2 .carousel-inner .carousel-item h2,
    .thumbs-slider-3 .carousel-inner .carousel-item h2,
    .full-slider-1 .carousel-inner .carousel-item h2,
    .full-slider-2 .carousel-inner .carousel-item h2,
    .full-slider-3 .carousel-inner .carousel-item h2 {
        font-size: 2.3rem;
    }

    .slider-5 .carousel-control-next,
    .slider-5 .carousel-control-prev {
        display: none;
    }

    .full-slider-4 .subscribe-content h1 {
        font-size: 2.7rem;
    }

    .header-demo-top-row .header-demo-content h1 {
        font-size: 2.3rem;
    }

    .header-demo-top-row .header-demo-content p {
        font-size: 1.2rem;
    }

    .thumbs-slider-2 .carousel-indicators {
        bottom: 0;
        display: flex;
        left: 0;
        margin: 0;
        top: auto;
        right: 0;
    }

    .thumbs-slider-2 .carousel-indicators li.active .text {
        left: 0;
    }

    .thumbs-slider-3 .carousel-inner .carousel-item .carousel-caption {
        left: 0;
    }

    .full-slider-2 .carousel-control-next,
    .full-slider-2 .carousel-control-prev {
        display: none;
    }

    .full-slider-2 .carousel-inner .carousel-item .carousel-caption {
        left: 0;
    }
}

@media screen and (max-width: 767px) {

    .testinomials-2 .carousel-indicators li,
    .testinomials-3 .carousel-indicators li {
        height: 40px;
        width: 40px;
    }

    .testinomials-1 figure {
        height: 100px;
        width: 100px;
    }

    .product-slider-section-1 .carousel-indicators {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        overflow-y: auto;
        height: auto;
    }

    .product-slider-section-1 .carousel-indicators li {
        width: 43px;
    }

    .product-slider-section-1 .data-slide-content {
        display: none;
    }

    .product-slider-section-4 .carousel-inner {
        width: 240px;
    }

    .product-slider-section-4 .carousel-control-prev,
    .product-slider-section-4 .carousel-control-next {
        display: none;
    }

    .product-slider-section-4 .carousel-indicators {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        overflow-y: hidden;
        margin: 0 0 20px 0 !important;
    }

    .product-slider-section-4 .carousel-indicators li {
        float: none;
        margin: 0 10px 0 0;
        padding: 0 0 20px 0;
        width: 140px;
        display: inline-block;
    }

    .testinomials-5 .carousel {
        padding: 10px;
    }

    .testinomials-5 .arrow {
        font-size: 40px;
    }

    .testinomials-6 .arrow {
        font-size: 40px;
    }
}



/* SLIDERS */