.about_us_main {
    padding-top: 57px;
}

.about_us_main img {
    margin-bottom: 93px;
}

.about_us_main h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100px;
    /* or 333% */
    letter-spacing: -0.03em;
    color: #1C2D41;
    text-align: center;
    margin-bottom: 0;
}

.about_us_main p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    /* or 194% */
    text-align: center;
    letter-spacing: -0.03em;
    color: #8392A5;
    margin-bottom: 68px;
    margin: auto;
    max-width: 1129px;
}

ul.about_us_delivery {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 150px;
}

li.about_us_delivery_inner {
    width: 31%;
}

li.about_us_delivery_inner span {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    align-items: center;
    height: 71px;
}

li.about_us_delivery_inner {}

li.about_us_delivery_inner h6 {
    line-height: inherit;
    margin-bottom: 32px;
}

h6 {}

section.about_us {
    padding-bottom: 80px;
}