.blog_main {
    margin-top: 99px;
}

.blog_main_data {
    margin-bottom: 79px;
}

.blog_main_data p.pricing_data_para {
    margin-bottom: 40px;
}

.blog_main_data span.pricing_para {
    margin-bottom: 20px;
    display: flex;
}