main.blogs_main_tag {
    display: flex;
    padding-top: 103px
}

.blogs_profile img {
    width: fit-content;
    margin: 0 auto 21px
}

.blogs_profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 46px
}

.blogs_profile_name {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-bottom: 13px
}

.blogs_para {
    letter-spacing: -.02em;
    margin-bottom: 21px
}

.blogs_category,
.blogs_profile_name,
.blogs_para,
.blogs_recent_tit {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.03em
}

.blogs_btn a,
.blogs_head,
.blogs_inner_head,
.blogs_prev p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.04em
}

.blogs_btn a {
    font-size: 22px;
    line-height: 27px;
    color: #1190cb
}

.blogs_categosris a.blogs_para {
    text-align: left;
    margin-bottom: 13px;
}

p.blogs_para {
    text-align: center;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.blogs_recent_detail .blogs_para {
    text-align: left;
}

.blogs_category {
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin-bottom: 18px
}

.blogs_prev p,
.blogs_recent_tit {
    font-size: 14px;
    line-height: 17px
}

.blogs_recent h6 {
    margin-bottom: 43px
}

aside.blogs_aside {
    max-width: 337px;
    width: 100%;
    margin-right: 31px
}

.blogs_recent_main {
    display: flex;
    margin-bottom: 20px
}

.blogs_recent_img {
    margin-right: 18px
}

.blogs_recent_tit {
    color: #000;
    margin-bottom: 7px
}

.blogs_para {
    font-size: 12px;
    line-height: 15px;
    color: #8392a5;
    text-align: left
}

.blogs_head,
.blogs_inner_head,
.blogs_prev p {
    color: #101821
}

.blogs_head {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 21px
}

.blogs_main img {
    margin-bottom: 81px
}

.blogs_inner_head {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 21px
}

ul.blogs_whitlist {
    list-style-type: none;
    margin: 0 0 71px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

ul.blogs_whitlist li {
    padding: 29px 30px;
    background: #f9fafc;
    border: 1px solid #c0ccda;
    width: 31.3%
}

ul.blogs_whitlist li:last-child {
    margin-right: 0
}

.blogs_prev_next {
    display: flex;
    justify-content: space-between
}

.blogs_prev {
    display: flex;
    align-items: center
}

.blogs_prev a {
    background: rgb(255 255 255 / 20%);
    border: 1px solid #1190cb;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.blogs_prev p {
    margin-bottom: 0
}

.blogs_prev:first-child a {
    margin-right: 39px
}

.blogs_prev:last-child a {
    margin-left: 39px
}

section.blogs {
    padding-bottom: 80px
}

.blogs_categosris {
    margin-bottom: 42px
}

.blogs_category_link {
    display: flex;
    flex-direction: column;
}