.modal-content {
    padding: 40px 40px;
}

.compare_model_title.modal-title.h4 {
    /* display: flex; */
}

.comare_head {
    display: flex;
    align-items: center;
}

.remove_all_btn {
    display: flex;
    margin-left: 47px;
    align-items: baseline;
}

.remove_all_btn p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #101821;
    margin-left: 6px;
    margin-bottom: 0;
}

.comare_head h6 {
    margin-bottom: 0;
}

.compare_model_head.modal-header {
    padding-bottom: 25px;
    border-bottom: 1px solid #E5E9F2;
}

.compare_remove_inner {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    color: #FF5151;
    margin-bottom: 32px;
    display: flex;
}

.compare_table_tbody th {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: -0.04em;
    padding-right: 160px !important;
    color: #101821;
}

table.compare_table_main {
    margin-top: 22px;
}

.table_main .table {
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
}


tbody.compare_table_tbody td,
tbody.compare_table_tbody th {
    border-right: 1px solid #E5E9F2 !important;
}

tbody.compare_table_tbody td:last-child {
    border-right: #fff !important;
}

.compare_table_tbody th {
    vertical-align: middle;
}

tbody.compare_table_tbody td {
    padding: 26px 30px;
}

.modal-dialog.modal-dialog-centered {
    height: auto;
}

.compare_table_data_inner img {
    margin-bottom: 19px;
}

.compare_table_data_inner h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #101821;
}

.compare_table_data_inner p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #3C4858 !important;
}

.compare_table_data_inner {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
    color: #101821;
}

.compare_table_data_inner .contact_us_submit a {
    width: 100%;
    text-align: center;
}

tbody.compare_table_tbody tr td p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* or 179% */
    letter-spacing: -0.04em;
    color: #8392A5;
}