.contact_us_input_inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
}

.contact_us_inner {
    padding-top: 59px;
}

.pricing_head {
    margin-bottom: 26px;
}

.contact_us_help_inner p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    letter-spacing: -0.03em;
    color: #8392A5;
    margin-bottom: 0;
}

.contact_us_mail {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    letter-spacing: -0.03em;
    color: #1C2D41;
    margin-bottom: 0;
}

h6.contact_us_mail {}

.contact_us_mail_main {
    margin-top: 30px;
}

.contact_us_help_inner {
    margin-bottom: 33px;
}

.contact_us_opening_hour {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: -0.03em;
    color: #1C2D41;
    margin-bottom: 10px;
}

.contact_us_day {
    display: flex;
    justify-content: space-between;
    max-width: 293px;
}

.contact_us_day p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    letter-spacing: -0.03em;
    color: #8392A5;
    margin-bottom: 0px;
}

.contact_drop {
    border-left: 1px solid #E5E9F2;
    padding-left: 60px;
}

.contact_us_label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #3C4858;
    margin-bottom: 4px;
}

.contact_drop h6 {
    margin-bottom: 56px;
}

.contact_us_input_inner {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #C0CCDA;
}

.contact_us_input {
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #C0CCDA !important;
    padding-left: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* or 167% */
    letter-spacing: -0.03em;
    color: #1C2D41;
}

.contact_us_input:focus-visible {
    /* border: none; */
    /* box-shadow: none; */
    outline: none;
}

.contact_us_textarea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    letter-spacing: -0.03em;
    color: #1C2D41;
    height: 121px;
    background: #FFFFFF;
    border: 1px solid #C0CCDA;
    padding-left: 7px;
}

.contact_us_textarea:focus-visible {
    outline: none;
}

.contact_us_submit {
    display: flex;
    align-items: center;
}

a.contact_submit_btn {
    background: #1190CB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding: 14px 53px;
}

section.contact_us {
    padding-bottom: 121px;
}