.contact_main {
  padding-top: 35px;
}

.contact_tagline .row {
  /* display: flex; */
  align-items: center;
}

.contact_enterprice img {
  margin-bottom: 24px;
}

.contact_enterprice h6 {
  margin-bottom: 6px;
}

.contact_about h6 {
  color: #1c2d41;
  margin-bottom: 6px;
}

.contact_about p {
  margin-bottom: 0;
}

section.contact {
  padding-bottom: 80px;
}

.contact_about {
  max-width: 643px;
}

.contact_img img {
  width: -webkit-fill-available;
}

.contact_tagline {
  margin-bottom: 67px;
}

.contact_store_title {
  margin-bottom: 75px;
}

.contact_store ul.productdetail li {
  margin-bottom: 60px;
}

.contact_store ul.productdetail li {
  margin-bottom: 60px;
}

.contact_product_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.03em;
  color: #1c2d41;
}

.contact_product_rating {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #1c2d41;
  display: flex;
  align-items: center;
}

.contact_product_price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1c2d41;
  margin-bottom: 0;
}

.contact_product_point {
  margin-left: 2px;
  display: flex;
}
