.live_streaming_main .row {
    align-items: center;
    padding-bottom: 103px;
}

.live_streaming_para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #101821;
}

.live_streaming_bout {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
    color: #8392A5;
}

.live_streaming_about {
    padding-top: 25px;
    border-top: 1px solid #E5E9F2;
}

.live_streaming_main {
    padding-top: 40px;
}

.live_stream_inner_img {
    position: relative;
    margin-bottom: 36px;
}

.live_streaming_slider {
    padding-top: 38px;
}

.live_streaming_slider .swiper-wrapper {
    margin-bottom: 78px;
}

.live_streaming_slider .contact_store_product_inner img {
    margin-bottom: 30px;
}

section.live_streaming {
    padding-bottom: 80px;
}

.live_streaming_price {
    margin-bottom: 40px;
}