section.order_tracking {
    background: rgb(229 233 242 / 30%);
    padding-bottom: 80px;
}

.order_tracking_inner {
    background: #FFFFFF;
    padding: 29px 40px;
    padding-bottom: 58px;
}

.order_id {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(112 112 112 / 10%);
}

.order_id_num {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #8392A5;
    align-items: baseline;
}

span.order_id_num p.live_streaming_para {
    margin-left: 8px;
}

.order_item_detail {
    display: flex;
    align-items: center;
}

.order_track {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.order_trake_img {
    margin-right: 15px;
}

.order_trake_details h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #0A121C;
}

.order_color_main {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #8392A5;
    margin-top: 9px;
}

.order_trake_img img {
    height: 149px;
}

.order_price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: -0.06em;
    color: #101821;
}

.order_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #0A121C;
    margin-left: 9px;
}

ul.order_status {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    width: 556px;
    justify-content: space-between;
}

.order_delivered {
    margin-top: 36px;
}

.order_delivered .live_streaming_para {
    text-align: center;
}

.order_trake_type {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0A121C;
}

.order_box {
    background: #1190CB;
    width: 6px;
    height: 6px;
    display: flex;
    align-items: center;
    margin-right: 6px;
    position: relative;
    top: -2px;
}

.order_delivered_para {
    display: flex;
    align-items: baseline;
}

li.order_track_process p {
    line-height: unset;
    margin-bottom: 0;
}

.order_trake_address {
    background: #FFFFFF;
    padding: 40px 29px;
    margin-top: 20px;
}

ul.delivery_address {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

li.delivery_name_address {
    border-right: 1px solid #C0CCDA;
    width: 100%;
    padding-left: 40px;
    margin-top: 15px;
}

li.delivery_name_address:first-child {
    padding-left: 0;
}

li.delivery_name_address:last-child {
    display: flex;
    justify-content: space-between;
    border: none;
}

.delivery_owenr_name {
    display: flex;
    align-items: center;
}

.delivery_owenr_name span {
    margin-left: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: -0.04em;
    color: #1190CB;
    border-radius: 10px;
    z-index: 99999;
    position: relative;
    /* display: flex; */
}

ul.order_status {
    position: relative;
    margin-top: 23px;
}

ul.order_status:after {
    content: "";
    position: absolute;
    background: #C0CCDA;
    height: 3px;
    width: 78%;
    border-radius: 10px;
    top: 0;
    left: 90px;
}

li.order_track_process:after {
    content: "";
    position: absolute;
    top: -3px;
    border: 3px solid #2DCA73;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #fff;
    z-index: 999;
    left: 37px;
}


li.order_track_process {
    position: relative;
    padding-top: 21px;
}

li.order_track_process:nth-child(2):after,
li.order_track_process:nth-child(3):after {
    left: 50%;
    transform: translateX(-50%);
}

li.order_track_process:last-child:after {
    right: 30px;
    left: auto;
    border: 3px solid #C0CCDA;
}

ul.order_status:before {
    content: "";
    position: absolute;
    width: 57%;
    background: #2DCA73;
    height: 3px;
    z-index: 999;
    left: 40px;
}

.delivery_owenr_name span:after {
    content: "";
    position: absolute;
    background: rgb(17 144 203 / 10%);
    width: 43px;
    height: 18px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p.martin {
    margin-bottom: 0;
}