main.our_policies_tag {
    padding-top: 40px;
}

/* .faq_accordian_card {
    border-top: 1px solid #E5E9F2;
    padding: 39px 0;
    transition: all 0.5s;
    transition-timing-function: ease-out;
}

.faq_accordian_details {
    display: flex;
}

.faq_accordian_card p.pricing_data_para {
    margin-bottom: 0;
    margin-top: 20px;
}

.faq_accordian_details {
    transition: all 0.5s ease;
}

.faq_accordian_card:last-child {
    border-bottom: 1px solid #E5E9F2;
}

section.our_policies {
    padding-bottom: 80px;
}

h6.pricing_head {
    margin-bottom: 0;
} */

.faqs_accordian .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: black;
}

.faqs_accordian .accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}


.faqs_accordian .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.faqs_accordian .accordion {
    --bs-accordion-bg: transparent;
}

.faqs_accordian .accordion-item {
    border: none;
    border-top: 1px solid #E5E9F2;
}

section.our_policies {
    padding-bottom: 80px;
}

.faqs_accordian .accordion-item:last-child {
    border-bottom: 1px solid #E5E9F2;
}

.faqs_accordian .accordion-button {
    padding: 39px 0;
}

.faqs_accordian .accordion-body {
    padding: 20px 0;
}

.faqs_accordian .accordion-collapse.collapse.show {
    margin-bottom: 41px;
}

.policies_terms_head h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
    color: #101821;
    margin-bottom: 37px;
}

.policies_terms_head h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #101821;
}

.policies_terms_head {
    margin-bottom: 63px;
}

.policies_tab ul.mb-3.nav.nav-tabs.nav-justified {
    width: 413px;
    margin-bottom: 42px !important;
}

.policies_tab .nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: auto !important;
}

.policies_tab li.nav-item:hover button {
    border: none;
}

.policies_tab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: transparent;
    border-color: transparent;
}

.policies_tab li.nav-item {
    position: relative;
}

.policies_tab .nav-tabs .nav-item.show .nav-link,
.policies_tab .nav-tabs .nav-link.active:after {
    content: "";
    background: #1190CB;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.policies_tab li.nav-item button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */
    letter-spacing: -0.03em;
    color: #8392A5;
}

.policies_tab .nav-tabs .nav-item.show .nav-link,
.policies_tab .nav-tabs .nav-link.active {
    color: #101821;
}

.policies_tab .nav-link {
    color: #8392A5;
}

.policies_tab .nav-tabs .nav-link {
    border: none;
}

.policies_tab .nav-tabs {
    border-bottom: none;
}

.policies_tab li.nav-item button {
    padding-left: 0 !important;
}

.policies_tab li.nav-item button:hover {
    color: #101821;
}

.policies_tab .nav-justified .nav-item,
.nav-justified>.nav-link {
    flex-basis: unset;
}

.policies_tab li.nav-item button {
    margin: 0;
    text-align: left;
}