.pricing_head,
.pricing_para,
.pricing_wave {
    letter-spacing: -.04em
}

p.pricing-price,
p.pricing_pro {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center
}

.pricing_cars,
.sign_up_btn,
li.pricing-li {
    display: flex
}

.sign_up_btn>a,
p.pricing-fee,
p.pricing-price,
p.pricing_pro {
    color: #fff;
    text-shadow: 0 1px .5px rgba(16, 24, 33, .270588)
}

.breadcrumb_pri {
    background-color: rgb(229 233 242 / 30%);
    padding: 18px
}

ol.breadcrumb {
    margin-bottom: 0
}

.breadcrumb_pri_inner {
    max-width: 1440px !important;
    margin: auto
}

.pricing_main {
    padding-top: 37px
}

.pricing_head {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #101821;
    margin-bottom: 37px
}

.pricing_wave {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #1190cb;
    margin-bottom: 19px;
    display: flex
}

.pricing_para {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #3c4858;
    margin-bottom: 63px;
}

.trial {
    color: #1190cb
}

.pricing_inner {
    margin-right: 19px;
    background: #F9FAFC;
    border: 1px solid #C0CCDA;
    transition: all 0.5s ease;
}

.pricing_inner:hover {
    background: #FFFFFF;
    box-shadow: 0px 75px 49.5px rgba(131, 146, 165, 0.129412);
}

p.pricing_pro {
    font-size: 20px;
    line-height: 25px
}

p.pricing-price {
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -.03em
}

.sign_up_btn>a,
li.pricing-li>p,
p.pricing-fee {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 25px
}

p.pricing-fee {
    font-size: 14px;
    text-align: center;
    opacity: .7
}

ul.pricing-details {
    padding: 56px;
    margin: 0;
    list-style-type: none;
}

li.pricing-li>p {
    font-size: 16px;
    letter-spacing: -.03em;
    color: #101821;
    text-shadow: 0 2px .5px rgba(16, 24, 33, .270588)
}

span.pricing-tools {
    margin-right: 13px
}

.sign_up_btn {
    justify-content: center;
    background: #1c2d41;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 18px;
    position: absolute;
    bottom: -30px;
    width: 180px;
}

.sign_up_btn>a {
    font-size: 18px;
    letter-spacing: -.03em
}

.pricing_image {
    width: 337px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pricing_inner:last-child {
    margin-right: 0;
}

.pricing_image1 {
    background-image: url(../../assets/images/pricing/pricing1.png);
}

.pricing_image2 {
    background-image: url(../../assets/images/pricing/pricing2.png);
}

.pricing_image3 {
    background-image: url(../../assets/images/pricing/pricing3.png);
}

.pricing_image4 {
    background-image: url(../../assets/images/pricing/pricing4.png);
}

.pricing_inner:hover {
    background: #FFFFFF;
    box-shadow: 0px 75px 49.5px rgba(131, 146, 165, 0.129412);
}

.pricing_data {
    margin-top: 56px;
}

.pricing_data_span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.04em;
    color: #101821;
    margin-bottom: 18px;
    display: flex;
}

.pricing_data_para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    /* or 194% */
    letter-spacing: -0.03em;
    color: #8392A5;
    margin-bottom: 45px;
}

ul.pricing_here li {
    list-style-type: circle;
}

ul.pricing_here li::marker {
    color: #1190CB;
}

ul.pricing_here {
    padding-left: 18px;
}

.pricing_li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: -0.03em;
    color: #8392A5;
}