.live_streaming_price {
    margin-bottom: 40px;
}

.contact_store_product_inner a {
    display: inline-block;
}

.contact_details {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 1px 1.5px rgb(0 0 0 / 16%);
    width: 89%;
    height: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 20px;
    opacity: 0;
    transition: all 0.5s ease;
}

.contact_details_icons {
    border-right: 1px solid #E5E9F2;
    padding: 6px 25px;
    display: inline-block;
}

.contact_details_icons:last-child {
    border: none;
}

button.contact_details_icons {
    background-color: transparent;
    border: none;
}

.contact_store_product_img {
    position: relative;
}

.contact_store_product_inner a:hover .contact_details {
    opacity: 1;
}

.live_streaming_slider {
    padding-bottom: 70px;
}