section.Thankyou ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 34px 0;
}

.thankspage {
    display: flex;
    align-items: center;
    background: #e6f9f0;
}

ul.orderdetail {
    display: flex;
}

.thankyou {
    padding: 50px 0;
}

.thankspage {
    padding: 20px 32px;
}

.thanks {
    margin-left: 32px;
}

.thanks h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    color: #0A121C;
    margin: 0;
}

ul.orderdetail li {
    width: 25%;
    border-right: 1px solid #E5E9F2;
    margin-right: 30px;
}

ul.orderdetail li h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    color: #8392A5;
    margin-bottom: 5px;
}

ul.orderdetail li p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
    color: #0A121C;
}

.thanks p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    color: #8392A5;
    margin: 0;
}

.thankspage {
    position: relative;
    z-index: -9;
}

.thankspage span:after {
    position: absolute;
    content: "";
    height: 80px;
    width: 80px;
    background: #2DCA73;
    opacity: 0.1;
    left: 22px;
    top: 10px;
    border-radius: 50%;
}

.orderss h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    color: #0A121C;
}

ul.producthis li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

ul.producthis {
    display: block !important;
}

.dress {
    display: flex;
    align-items: center;
    width: 65%;
}

.dress h3 {
    font-style: normal;
    font-weight: 450;
    font-size: 17px;
    letter-spacing: 0;
    margin-left: 40px;
    color: #0A121C;
}

ul.producthis li h4 {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0;
    color: #0A121C;
}

section.Thankyou {
    height: 100vh;
}

ul.totalright li {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
}



ul.totalright li h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0;
    text-align: right;
    letter-spacing: 0;
    color: #8392A5;
    margin: 0;
}



ul.totalright li span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    color: #0A121C;
    margin: 0;
    margin-left: 40px;
}

ul.totalright {
    margin: 0 !important;
    width: 71%;
}